<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>1100</string>
		<key>name</key>
		<string>哲学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1100</string>
				<key>name</key>
				<string>哲学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>110001</string>
				<key>name</key>
				<string>哲学（含伦理学）</string>
			</dict>
			<dict>
				<key>code</key>
				<string>110002</string>
				<key>name</key>
				<string>逻辑学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>110003</string>
				<key>name</key>
				<string>宗教学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1000</string>
		<key>name</key>
		<string>经济学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1000</string>
				<key>name</key>
				<string>经济学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100001</string>
				<key>name</key>
				<string>经济学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100002</string>
				<key>name</key>
				<string>国际经济与贸易</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100003</string>
				<key>name</key>
				<string>财政学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100004</string>
				<key>name</key>
				<string>金融学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100005</string>
				<key>name</key>
				<string>经济管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100006</string>
				<key>name</key>
				<string>经济信息管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100007</string>
				<key>name</key>
				<string>贸易经济</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100008</string>
				<key>name</key>
				<string>国际金融</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100009</string>
				<key>name</key>
				<string>投资学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100010</string>
				<key>name</key>
				<string>统计学 </string>
			</dict>
			<dict>
				<key>code</key>
				<string>100011</string>
				<key>name</key>
				<string>经济与金融</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100012</string>
				<key>name</key>
				<string>金融工程  </string>
			</dict>
			<dict>
				<key>code</key>
				<string>100013</string>
				<key>name</key>
				<string>保险</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100014</string>
				<key>name</key>
				<string>税务</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100015</string>
				<key>name</key>
				<string>信用管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100016</string>
				<key>name</key>
				<string>网络经济学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>100017</string>
				<key>name</key>
				<string>技术经济</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>0200</string>
		<key>name</key>
		<string>管理科学与工程类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>0200</string>
				<key>name</key>
				<string>管理科学与工程类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>020001</string>
				<key>name</key>
				<string>管理科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>020002</string>
				<key>name</key>
				<string>信息管理和信息系统</string>
			</dict>
			<dict>
				<key>code</key>
				<string>020003</string>
				<key>name</key>
				<string>工业工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>020004</string>
				<key>name</key>
				<string>工程管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>020005</string>
				<key>name</key>
				<string>产品质量工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>020006</string>
				<key>name</key>
				<string>项目管理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>0300</string>
		<key>name</key>
		<string>工商管理类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>0300</string>
				<key>name</key>
				<string>工商管理类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030001</string>
				<key>name</key>
				<string>工商管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030002</string>
				<key>name</key>
				<string>市场营销</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030003</string>
				<key>name</key>
				<string>商品学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030004</string>
				<key>name</key>
				<string>会计学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030005</string>
				<key>name</key>
				<string>审计学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030006</string>
				<key>name</key>
				<string>涉外会计</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030007</string>
				<key>name</key>
				<string>会计信息系统</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030008</string>
				<key>name</key>
				<string>财务管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030009</string>
				<key>name</key>
				<string>财政金融</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030010</string>
				<key>name</key>
				<string>资产评估</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030011</string>
				<key>name</key>
				<string>企业管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030013</string>
				<key>name</key>
				<string>国际商务</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030014</string>
				<key>name</key>
				<string>电子商务</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030016</string>
				<key>name</key>
				<string>物业管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030017</string>
				<key>name</key>
				<string>物流管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030018</string>
				<key>name</key>
				<string>旅游管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030019</string>
				<key>name</key>
				<string>酒店管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030020</string>
				<key>name</key>
				<string>连锁经营管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>030021</string>
				<key>name</key>
				<string>人力资源管理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>0400</string>
		<key>name</key>
		<string>行政管理、公共管理类 </string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>0400</string>
				<key>name</key>
				<string>行政管理、公共管理类 </string>
			</dict>
			<dict>
				<key>code</key>
				<string>040001</string>
				<key>name</key>
				<string>行政管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040002</string>
				<key>name</key>
				<string>公共关系学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040003</string>
				<key>name</key>
				<string>文秘</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040004</string>
				<key>name</key>
				<string>公共事业管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040005</string>
				<key>name</key>
				<string>公共政策学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040006</string>
				<key>name</key>
				<string>国防教育与管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040007</string>
				<key>name</key>
				<string>劳动关系</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040008</string>
				<key>name</key>
				<string>劳动与社会保障</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040009</string>
				<key>name</key>
				<string>城市规划与管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040010</string>
				<key>name</key>
				<string>土地资源管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040011</string>
				<key>name</key>
				<string>农业经济管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040012</string>
				<key>name</key>
				<string>食品经济管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040013</string>
				<key>name</key>
				<string>会展经济与管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040014</string>
				<key>name</key>
				<string>文化产业管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040015</string>
				<key>name</key>
				<string>体育产业管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>040016</string>
				<key>name</key>
				<string>航运管理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>3500</string>
		<key>name</key>
		<string>图书档案学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>3500</string>
				<key>name</key>
				<string>图书档案学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>350001</string>
				<key>name</key>
				<string>图书馆学和档案学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>350002</string>
				<key>name</key>
				<string>信息资源管理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>0700</string>
		<key>name</key>
		<string>语言文学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>0700</string>
				<key>name</key>
				<string>语言文学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070001</string>
				<key>name</key>
				<string>汉语言文学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070002</string>
				<key>name</key>
				<string>对外汉语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070003</string>
				<key>name</key>
				<string>英语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070004</string>
				<key>name</key>
				<string>商务英语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070005</string>
				<key>name</key>
				<string>外贸英语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070006</string>
				<key>name</key>
				<string>俄语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070007</string>
				<key>name</key>
				<string>德语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070008</string>
				<key>name</key>
				<string>法语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070009</string>
				<key>name</key>
				<string>西班牙语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070010</string>
				<key>name</key>
				<string>阿拉伯语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070011</string>
				<key>name</key>
				<string>日语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070012</string>
				<key>name</key>
				<string>朝鲜语</string>
			</dict>
			<dict>
				<key>code</key>
				<string>070013</string>
				<key>name</key>
				<string>其它外语</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>4300</string>
		<key>name</key>
		<string>新闻传播学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>4300</string>
				<key>name</key>
				<string>新闻传播学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>430001</string>
				<key>name</key>
				<string>新闻学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>430002</string>
				<key>name</key>
				<string>广播电视新闻</string>
			</dict>
			<dict>
				<key>code</key>
				<string>430003</string>
				<key>name</key>
				<string>广告学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>430004</string>
				<key>name</key>
				<string>编辑出版学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>430005</string>
				<key>name</key>
				<string>传播学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>430006</string>
				<key>name</key>
				<string>媒体创意</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1200</string>
		<key>name</key>
		<string>艺术类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1200</string>
				<key>name</key>
				<string>艺术类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120001</string>
				<key>name</key>
				<string>音乐，作曲</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120002</string>
				<key>name</key>
				<string>艺术设计</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120003</string>
				<key>name</key>
				<string>戏剧，表演</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120004</string>
				<key>name</key>
				<string>导演，广播电视编导</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120005</string>
				<key>name</key>
				<string>戏剧影视文学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120006</string>
				<key>name</key>
				<string>戏剧影视美术设计</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120007</string>
				<key>name</key>
				<string>摄影，动画</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120008</string>
				<key>name</key>
				<string>播音，主持，录音</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120009</string>
				<key>name</key>
				<string>服装设计</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120010</string>
				<key>name</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120011</string>
				<key>name</key>
				<string>美术学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120012</string>
				<key>name</key>
				<string>绘画</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120013</string>
				<key>name</key>
				<string>雕塑</string>
			</dict>
			<dict>
				<key>code</key>
				<string>120014</string>
				<key>name</key>
				<string>影视学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>6600</string>
		<key>name</key>
		<string>电气信息类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>6600</string>
				<key>name</key>
				<string>电气信息类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>660001</string>
				<key>name</key>
				<string>电气工程及其自动化</string>
			</dict>
			<dict>
				<key>code</key>
				<string>660002</string>
				<key>name</key>
				<string>电气信息工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>660003</string>
				<key>name</key>
				<string>通信工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>660004</string>
				<key>name</key>
				<string>自动化</string>
			</dict>
			<dict>
				<key>code</key>
				<string>660005</string>
				<key>name</key>
				<string>电子信息工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>660006</string>
				<key>name</key>
				<string>电子科学与技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>660007</string>
				<key>name</key>
				<string>集成电路设计与集成系统</string>
			</dict>
			<dict>
				<key>code</key>
				<string>660008</string>
				<key>name</key>
				<string>影视艺术技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>660009</string>
				<key>name</key>
				<string>广播电视工程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>6700</string>
		<key>name</key>
		<string>计算机科学与技术类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>6700</string>
				<key>name</key>
				<string>计算机科学与技术类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>670001</string>
				<key>name</key>
				<string>计算机科学与技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>670002</string>
				<key>name</key>
				<string>计算机科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>670003</string>
				<key>name</key>
				<string>计算机工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>670004</string>
				<key>name</key>
				<string>计算机网络</string>
			</dict>
			<dict>
				<key>code</key>
				<string>670005</string>
				<key>name</key>
				<string>计算机应用</string>
			</dict>
			<dict>
				<key>code</key>
				<string>670006</string>
				<key>name</key>
				<string>软件工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>670007</string>
				<key>name</key>
				<string>计算机信息管理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>0500</string>
		<key>name</key>
		<string>机械类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>0500</string>
				<key>name</key>
				<string>机械类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050001</string>
				<key>name</key>
				<string>机械设计制造及其自动化</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050002</string>
				<key>name</key>
				<string>机械电子工程/机电一体化</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050003</string>
				<key>name</key>
				<string>机械工程及自动化</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050004</string>
				<key>name</key>
				<string>机械制造工艺与设备</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050005</string>
				<key>name</key>
				<string>制造工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050006</string>
				<key>name</key>
				<string>制造自动化与测控技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050007</string>
				<key>name</key>
				<string>材料成型及控制工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050008</string>
				<key>name</key>
				<string>工业设计</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050009</string>
				<key>name</key>
				<string>过程装备与控制工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050010</string>
				<key>name</key>
				<string>模具设计与制造</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050011</string>
				<key>name</key>
				<string>微机电系统工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050012</string>
				<key>name</key>
				<string>车辆工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>050013</string>
				<key>name</key>
				<string>汽车服务工程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>0600</string>
		<key>name</key>
		<string>土建类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>0600</string>
				<key>name</key>
				<string>土建类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060001</string>
				<key>name</key>
				<string>土木工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060002</string>
				<key>name</key>
				<string>道路与桥梁</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060003</string>
				<key>name</key>
				<string>建筑学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060004</string>
				<key>name</key>
				<string>建筑工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060005</string>
				<key>name</key>
				<string>工业与民用建筑</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060006</string>
				<key>name</key>
				<string>工程造价管理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060007</string>
				<key>name</key>
				<string>建筑环境与设备工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060008</string>
				<key>name</key>
				<string>给排水科学与工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060009</string>
				<key>name</key>
				<string>供热通风与空调工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060010</string>
				<key>name</key>
				<string>室内装潢设计</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060011</string>
				<key>name</key>
				<string>城市规划</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060012</string>
				<key>name</key>
				<string>历史建筑保护工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>060013</string>
				<key>name</key>
				<string>景观学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1900</string>
		<key>name</key>
		<string>材料类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1900</string>
				<key>name</key>
				<string>材料类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>190001</string>
				<key>name</key>
				<string>冶金工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>190002</string>
				<key>name</key>
				<string>金属材料工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>190003</string>
				<key>name</key>
				<string>无机非金属材料工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>190004</string>
				<key>name</key>
				<string>高分子材料与工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>190005</string>
				<key>name</key>
				<string>材料物理</string>
			</dict>
			<dict>
				<key>code</key>
				<string>190006</string>
				<key>name</key>
				<string>材料化学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>190007</string>
				<key>name</key>
				<string>材料科学与工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>190008</string>
				<key>name</key>
				<string>电子封装技术</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2100</string>
		<key>name</key>
		<string>仪器仪表类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2100</string>
				<key>name</key>
				<string>仪器仪表类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>210001</string>
				<key>name</key>
				<string>测控技术与仪器</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2200</string>
		<key>name</key>
		<string>能源动力类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2200</string>
				<key>name</key>
				<string>能源动力类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>220001</string>
				<key>name</key>
				<string>热能与动力工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>220002</string>
				<key>name</key>
				<string>核工程与核技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>220003</string>
				<key>name</key>
				<string>电力系统及自动化</string>
			</dict>
			<dict>
				<key>code</key>
				<string>220004</string>
				<key>name</key>
				<string>制冷与低温技术</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2300</string>
		<key>name</key>
		<string>水利类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2300</string>
				<key>name</key>
				<string>水利类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>230001</string>
				<key>name</key>
				<string>水利水电工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>230002</string>
				<key>name</key>
				<string>水文与水资源工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>230003</string>
				<key>name</key>
				<string>港口航道与海岸工程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2400</string>
		<key>name</key>
		<string>测绘类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2400</string>
				<key>name</key>
				<string>测绘类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>240001</string>
				<key>name</key>
				<string>测绘工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>240002</string>
				<key>name</key>
				<string>遥感科学与技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>240003</string>
				<key>name</key>
				<string>空间信息与数字技术</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2500</string>
		<key>name</key>
		<string>制药工程类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2500</string>
				<key>name</key>
				<string>制药工程类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>250001</string>
				<key>name</key>
				<string>制药工程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2600</string>
		<key>name</key>
		<string>交通运输类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2600</string>
				<key>name</key>
				<string>交通运输类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>260001</string>
				<key>name</key>
				<string>交通运输</string>
			</dict>
			<dict>
				<key>code</key>
				<string>260002</string>
				<key>name</key>
				<string>交通工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>260003</string>
				<key>name</key>
				<string>油气储运工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>260004</string>
				<key>name</key>
				<string>飞行技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>260005</string>
				<key>name</key>
				<string>航海技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>260006</string>
				<key>name</key>
				<string>轮机工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>260007</string>
				<key>name</key>
				<string>物流工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>260008</string>
				<key>name</key>
				<string>海事管理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2700</string>
		<key>name</key>
		<string>船舶与海洋工程类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2700</string>
				<key>name</key>
				<string>船舶与海洋工程类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>270001</string>
				<key>name</key>
				<string>船舶与海洋工程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2900</string>
		<key>name</key>
		<string>航空航天类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2900</string>
				<key>name</key>
				<string>航空航天类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>290001</string>
				<key>name</key>
				<string>飞行器设计与工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>290002</string>
				<key>name</key>
				<string>飞行器动力工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>290003</string>
				<key>name</key>
				<string>飞行器制造工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>290004</string>
				<key>name</key>
				<string>飞行器环境与生命保障工程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2800</string>
		<key>name</key>
		<string>轻工纺织食品类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2800</string>
				<key>name</key>
				<string>轻工纺织食品类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>280001</string>
				<key>name</key>
				<string>食品科学与工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>280002</string>
				<key>name</key>
				<string>轻化工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>280003</string>
				<key>name</key>
				<string>包装工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>280004</string>
				<key>name</key>
				<string>印刷工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>280005</string>
				<key>name</key>
				<string>纺织工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>280006</string>
				<key>name</key>
				<string>服装设计与工程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>3000</string>
		<key>name</key>
		<string>武器类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>3000</string>
				<key>name</key>
				<string>武器类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>300001</string>
				<key>name</key>
				<string>武器系统与发射工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>300002</string>
				<key>name</key>
				<string>探测制导与控制技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>300003</string>
				<key>name</key>
				<string>弹药工程与爆炸技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>300004</string>
				<key>name</key>
				<string>特种能源工程与烟火技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>300005</string>
				<key>name</key>
				<string>地面武器机动工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>300006</string>
				<key>name</key>
				<string>信息对抗技术</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>3200</string>
		<key>name</key>
		<string>公安技术类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>3200</string>
				<key>name</key>
				<string>公安技术类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>320001</string>
				<key>name</key>
				<string>公安技术</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>3100</string>
		<key>name</key>
		<string>生物医学工程类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>3100</string>
				<key>name</key>
				<string>生物医学工程类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>310001</string>
				<key>name</key>
				<string>生物医学工程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>0900</string>
		<key>name</key>
		<string>法学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>0900</string>
				<key>name</key>
				<string>法学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090001</string>
				<key>name</key>
				<string>法学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090002</string>
				<key>name</key>
				<string>马克思主义理论</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090003</string>
				<key>name</key>
				<string>政治学与行政学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090004</string>
				<key>name</key>
				<string>思想政治教育</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090005</string>
				<key>name</key>
				<string>国际政治</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090006</string>
				<key>name</key>
				<string>国际经济法</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090007</string>
				<key>name</key>
				<string>经济法</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090008</string>
				<key>name</key>
				<string>社会学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090009</string>
				<key>name</key>
				<string>外交学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>090010</string>
				<key>name</key>
				<string>公安学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1300</string>
		<key>name</key>
		<string>历史学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1300</string>
				<key>name</key>
				<string>历史学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130001</string>
				<key>name</key>
				<string>历史学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130002</string>
				<key>name</key>
				<string>考古学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>130003</string>
				<key>name</key>
				<string>博物馆学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1400</string>
		<key>name</key>
		<string>数学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1400</string>
				<key>name</key>
				<string>数学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>140001</string>
				<key>name</key>
				<string>数学与应用数学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>140002</string>
				<key>name</key>
				<string>信息与计算科学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1500</string>
		<key>name</key>
		<string>物理学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1500</string>
				<key>name</key>
				<string>物理学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>150001</string>
				<key>name</key>
				<string>物理学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>150002</string>
				<key>name</key>
				<string>应用物理学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1600</string>
		<key>name</key>
		<string>化学类及化学工程类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1600</string>
				<key>name</key>
				<string>化学类及化学工程类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>160001</string>
				<key>name</key>
				<string>化学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>160002</string>
				<key>name</key>
				<string>应用化学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>160003</string>
				<key>name</key>
				<string>化学工程与工艺</string>
			</dict>
			<dict>
				<key>code</key>
				<string>160004</string>
				<key>name</key>
				<string>精细化工</string>
			</dict>
			<dict>
				<key>code</key>
				<string>160005</string>
				<key>name</key>
				<string>化工设备与机械</string>
			</dict>
			<dict>
				<key>code</key>
				<string>160006</string>
				<key>name</key>
				<string>生物化工</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>6800</string>
		<key>name</key>
		<string>生物科学及生物技术类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>6800</string>
				<key>name</key>
				<string>生物科学及生物技术类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>680001</string>
				<key>name</key>
				<string>生物工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>680002</string>
				<key>name</key>
				<string>生物科学，技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>680003</string>
				<key>name</key>
				<string>生物信息学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1700</string>
		<key>name</key>
		<string>天文地质地理类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1700</string>
				<key>name</key>
				<string>天文地质地理类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170001</string>
				<key>name</key>
				<string>天文学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170002</string>
				<key>name</key>
				<string>地质学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170003</string>
				<key>name</key>
				<string>地理科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170004</string>
				<key>name</key>
				<string>地球物理学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170005</string>
				<key>name</key>
				<string>大气科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170006</string>
				<key>name</key>
				<string>海洋科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170007</string>
				<key>name</key>
				<string>地矿</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170008</string>
				<key>name</key>
				<string>宝石鉴定与加工</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170009</string>
				<key>name</key>
				<string>石油工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170010</string>
				<key>name</key>
				<string>地球化学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170011</string>
				<key>name</key>
				<string>地球与空间科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170012</string>
				<key>name</key>
				<string>地理信息系统</string>
			</dict>
			<dict>
				<key>code</key>
				<string>170013</string>
				<key>name</key>
				<string>地理信息科学与技术</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>1800</string>
		<key>name</key>
		<string>力学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>1800</string>
				<key>name</key>
				<string>力学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>180001</string>
				<key>name</key>
				<string>力学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>180002</string>
				<key>name</key>
				<string>应用力学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>0100</string>
		<key>name</key>
		<string>电子信息科学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>0100</string>
				<key>name</key>
				<string>电子信息科学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>010001</string>
				<key>name</key>
				<string>电子信息科学与技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>010002</string>
				<key>name</key>
				<string>光信息科学与技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>010003</string>
				<key>name</key>
				<string>光电子技术科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>010004</string>
				<key>name</key>
				<string>微电子学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>010005</string>
				<key>name</key>
				<string>信息科学技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>010006</string>
				<key>name</key>
				<string>信息安全</string>
			</dict>
			<dict>
				<key>code</key>
				<string>010007</string>
				<key>name</key>
				<string>科技防卫</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>6900</string>
		<key>name</key>
		<string>系统科学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>6900</string>
				<key>name</key>
				<string>系统科学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>690001</string>
				<key>name</key>
				<string>系统理论</string>
			</dict>
			<dict>
				<key>code</key>
				<string>690002</string>
				<key>name</key>
				<string>系统科学与工程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>2000</string>
		<key>name</key>
		<string>环境科学与安全类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>2000</string>
				<key>name</key>
				<string>环境科学与安全类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>200001</string>
				<key>name</key>
				<string>环境科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>200002</string>
				<key>name</key>
				<string>环境工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>200003</string>
				<key>name</key>
				<string>安全工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>200004</string>
				<key>name</key>
				<string>生态学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>0800</string>
		<key>name</key>
		<string>教育学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>0800</string>
				<key>name</key>
				<string>教育学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>080001</string>
				<key>name</key>
				<string>教育学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>080002</string>
				<key>name</key>
				<string>体育教育</string>
			</dict>
			<dict>
				<key>code</key>
				<string>080003</string>
				<key>name</key>
				<string>学前教育</string>
			</dict>
			<dict>
				<key>code</key>
				<string>080004</string>
				<key>name</key>
				<string>职业技术教育</string>
			</dict>
			<dict>
				<key>code</key>
				<string>080005</string>
				<key>name</key>
				<string>特殊教育</string>
			</dict>
			<dict>
				<key>code</key>
				<string>080006</string>
				<key>name</key>
				<string>教育技术学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>7000</string>
		<key>name</key>
		<string>医学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>7000</string>
				<key>name</key>
				<string>医学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700001</string>
				<key>name</key>
				<string>基础医学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700002</string>
				<key>name</key>
				<string>预防医学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700003</string>
				<key>name</key>
				<string>临床医学与医学技术</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700004</string>
				<key>name</key>
				<string>口腔医学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700005</string>
				<key>name</key>
				<string>中医学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700006</string>
				<key>name</key>
				<string>法医学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700007</string>
				<key>name</key>
				<string>护理学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700008</string>
				<key>name</key>
				<string>药学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700009</string>
				<key>name</key>
				<string>医学检验</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700010</string>
				<key>name</key>
				<string>营养学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700011</string>
				<key>name</key>
				<string>麻醉学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700012</string>
				<key>name</key>
				<string>放射医学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700013</string>
				<key>name</key>
				<string>眼视光学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700014</string>
				<key>name</key>
				<string>针灸推拿学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>700015</string>
				<key>name</key>
				<string>中药学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>3900</string>
		<key>name</key>
		<string>心理学类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>3900</string>
				<key>name</key>
				<string>心理学类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>390001</string>
				<key>name</key>
				<string>心理学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>390002</string>
				<key>name</key>
				<string>应用心理学</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<string>7100</string>
		<key>name</key>
		<string>农业类</string>
		<key>son</key>
		<array>
			<dict>
				<key>code</key>
				<string>7100</string>
				<key>name</key>
				<string>农业类</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710001</string>
				<key>name</key>
				<string>农学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710002</string>
				<key>name</key>
				<string>园艺</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710003</string>
				<key>name</key>
				<string>植物保护学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710004</string>
				<key>name</key>
				<string>茶学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710005</string>
				<key>name</key>
				<string>草业科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710006</string>
				<key>name</key>
				<string>森林资源</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710007</string>
				<key>name</key>
				<string>环境生态</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710008</string>
				<key>name</key>
				<string>动物科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710009</string>
				<key>name</key>
				<string>动物医学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710010</string>
				<key>name</key>
				<string>水产科学</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710011</string>
				<key>name</key>
				<string>农业工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710012</string>
				<key>name</key>
				<string>林业工程</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710013</string>
				<key>name</key>
				<string>植物生产</string>
			</dict>
			<dict>
				<key>code</key>
				<string>710014</string>
				<key>name</key>
				<string>园林</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
